[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
llama-index = "*"
openai = "*"
pinecone-client = "*"
python-dotenv = "*"
black = "*"
llama-cpp-python = "*"
transformers = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.10"
